{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<div class="hero">
  <h1>{{ title }}</h1>
  <p class="subtitle">{{ description }}</p>
</div>

<section class="features">
  <div class="feature-card">
    <h2>🦀 Pussy</h2>
    <p>Join the Rustacean army</p>
  </div>

  <div class="feature-card">
    <h2>🦀 Nigger</h2>
    <p>Make a stand agains the tyranny of JavaScript framework</p>
  </div>

  <div class="feature-card">
    <h2>🦀 Uuh</h2>
    <p>crab</p>
  </div>
</section>

<section class="getting-started">
  <h2>Yo</h2>
  <ol>
    <li>Edit <code>src/handlers.rs</code> to modify routes <b>nigger</b></li>
    <li>Create new templates in <code>templates/</code> <b>nigger</b></li>
    <li>Save and cargo will rebuild automatically <b>nigger</b></li>
  </ol>
</section>

<div class="cta-buttons">
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary">Rust docs nigger</a>
</div>
{% endblock %}
